@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    height: 200vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #580d83;
    font-size: 1.3rem;
    transition: .3s;
}

a:hover {
    color: #ff1fd5;
}

/* HEADER */


header {
    /* ADICIONA EFEITO MENU ROLAGEM PARA BAIXO */
    position: fixed;
    padding: 2.1rem 2rem;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
    transition: transform 0.3s ease;
    /* Para uma transição suave */
}

@media (max-width: 730px) {
    header {
        /* ADICIONA EFEITO MENU ROLAGEM PARA BAIXO */
        padding: .5rem 2rem;
    }
}

.logo h1 {
    font-size: 1.3em;
    font-family: 'Playfair Display', serif;
    color: #580d83;
    transition: .3s;
}

@media (max-width: 320px) {
    .logo h1 {
        font-size: 1.1em;
    }
}

@media (max-width: 812px) and (orientation: landscape) {
    .logo h1 {
        font-size: 1.1em;
    }
}

.logo h1:hover {
    color: #ff1fd5;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #580d83;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

/* EFEITO BOTÃO INFLAR */

.action_btn:active {
    scale: 0.95;
}

/* EFEITO BOTÃO DESINFLAR QUANDO APERTAR */


/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 125px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width: 730px) {
    .dropdown_menu {
        top: 75px;
    }
}

.dropdown_menu.open {
    height: 230px;
    /* AUMENTA A ALTURA DO MENU RESPONSIVO */
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 730px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
        z-index: 2;
        /* DEIXA MENU RESPONSIVO ACIMA DE OVERLAY */
    }

    .dropdown_menu {
        display: block;
        z-index: 2;
        /* DEIXA MENU RESPONSIVO ACIMA DE OVERLAY */
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


/* VIDEO */
.video {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    /* Ajuste a cor e a opacidade conforme necessário */
    z-index: -1;
    /* Certifique-se de que o overlay esteja na frente do vídeo */
}

.navbar {
    position: relative;
    z-index: 2;
    /* DEIXA MENU RESPONSIVO ACIMA DE OVERLAY */
}

@media (max-width: 576px) {
    .video {
        height: 100vh;
        /* Manter a altura em 80vh em dispositivos menores */
    }

    .overlay {
        height: 100vh;
        /* Manter a altura do overlay em 80vh em dispositivos menores */
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 115vh;
    /* Isso garante que o conteúdo fique centralizado na vertical também */
    letter-spacing: 2px;
}

.txt_edit {
    padding: 5%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    z-index: 1;
    color: #ffffff;
}

.txt_edit span {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #ff1fd5;
}

@media (max-width: 597px) {
    .txt_edit {
        font-size: 1.5em;
    }
}

@media (max-width: 455px) {
    .txt_edit {
        font-size: 1.5em;
    }
}

@media (max-width: 375px) {
    .txt_edit {
        font-size: 1.4em;
    }
}

@media (max-width: 320px) {
    .txt_edit {
        font-size: 1.0em;
    }
}

/* responsividade horizontal */

@media (max-width: 1280px) and (orientation: landscape) {
    .txt_edit {
        font-size: 2.5em;

    }
}

@media (max-width: 926px) and (orientation: landscape) {
    header {
        /* ADICIONA EFEITO MENU ROLAGEM PARA BAIXO */
        padding: .5rem 2rem;
    }

    .img_logo {
        width: 100px;
    }

    .txt_edit {
        font-size: 1.8em;
    }
}

@media (max-width: 568px) and (orientation: landscape) {
    .txt_edit {
        font-size: 1.5em;

    }
}


/* CRIANDO O CONTEUDO DO SOBRE DA PAGINA */
.txt_sobre {
    text-align: center;
    padding-bottom: 100px;
}

.txt_sobre h1 {
    font-size: 2em;
    color: #580d83;
    padding-bottom: 50px;
    font-family: 'Playfair Display', serif;
}

.txt_sobre p {
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
    color: #353535;
    padding-left: 50px;
    padding-right: 50px;
}


/* CARDS */
.container_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* Ajuste o valor de acordo com a quantidade de espaço desejada */
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.cards {
    width: 350px;
}

.txt_cards h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    color: #580d83;
}

.txt_cards p {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    text-align: justify;
}


@media (max-width: 935px) {
    .container_cards {
        flex-direction: column;
        /* Altera para empilhar os cards em telas menores */
    }
}


/* TEXTO ADICIONAL NO SITE */
.container_txt {
    background-color: #ff92eb;

    justify-content: center;
    text-align: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

.container_txt h1 {
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    color: #580d83;
}

@media (max-width: 550px) {
    .container_txt h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 420px) {
    .container_txt h1 {
        font-size: 1.3em;
    }
}

@media (max-width: 364px) {
    .container_txt h1 {
        font-size: 1em;
    }
}

.container_txt h1 span {
    font-size: 1.4em;
}

/* cardapio */

/* caroucel cardapio */
.container_cardapio {
    padding-top: 100px;
    text-align: center;
    color: #580d83;
}

#slider {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 70px;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: 100%;
    /* Aumenta o tamanho da area do caroucel */
}

#slides .slide {
    padding-top: 100px;
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200%;
    color: #fff;
    background-color: #803672;
    border: 10px solid #ff92eb; /* 2px de largura, estilo sólido, cor vermelha (#ff0000) */
}

#controls {
    margin: -1560px 0 0 0;
    width: 50%;
    height: 50px;
    z-index: 1;
    position: relative;
}

@media (max-width: 1167px) {
    #controls {
        margin: -1990px 0 0 0;
        height: 50px;
    }
}

@media (max-width: 767px) {
    #controls {
        margin: -3670px 0 0 0;
        height: 50px;
    }
}


#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}

#slide1:checked~#controls label:nth-last-child(2),
#slide2:checked~#controls label:nth-last-child(3),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}


/* CONFIGURAÇÕES BOTÃO DE ROLAGEM */
#bullets {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

#bullets label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    background: #ff92eb;
    margin: 0 5px; /* Reduzi a margem para se adaptar melhor a telas menores */
    color: #580d83;
    min-width: 80px; /* Largura mínima para evitar que o texto seja muito espremido */
    white-space: nowrap; /* Impede a quebra de texto para manter o conteúdo legível */
}

@media (max-width: 462px) {
    #bullets {
        flex-wrap: wrap; /* permite que os itens dentro desse contêiner sejam dispostos em várias linhas, caso não haja espaço suficiente na largura disponível */
    }

    #bullets label{
        margin-bottom: 10px;
    }
}


#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: #580d83;
    color: #fff;
}


/* CARDS CARDAPIO */

.cardapio_cards_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 100px;
}

.cardapio_cards {
    background-color: #fff;
    width: 350px;
    height: 510px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.cardapio_cards img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.cardapio_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 17%;
}

.cardapio_cards h1 {
    color: #000000;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.cardapio_cards h2 {
    font-size: .9rem;
    color: #aaaa;
    text-align: center;
    padding-bottom: 10px;
}

.sabores {
    padding-top: 20px;
    height: 30%;
}

.sabores ul {
    list-style: none;
    text-align: center;
    font-size: .9rem;
    color: #303030aa;
}

span {
    padding-bottom: 10px;
    color: #000000;
}

.buttons-span {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardapio_cards button {
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.cardapio_cards button:hover {
    background-color: #137de8;
    cursor: pointer;
}